body{
    text-align: center;
}


.grid {
    display: grid;
    /*gap: 1%;*/
    width: auto;
    margin:100px;
    grid-template-columns: repeat(16, 1fr);
  }

  .cell {
    padding: 1%;
    /*background: #ccc;*/
    aspect-ratio: 1;
  }

  